
.navbar,.navbar-inverse,.navbar-fixed-top
{
    background-color: #21146B;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover
{
    background-color: #4B3E94;
}


.table {

}
.center-block
{
    width: 400px;
    border: 1px solid #F5F4F4;
    padding: 20px;
    background-color: #F5F4F4;
    border-radius: 1px 1px 4px 4px;
    -moz-box-shadow: 1px 1px 1px 0px #656565;
    -webkit-box-shadow: 1px 1px 1px 0px #656565;
    -o-box-shadow: 1px 1px 1px 0px #656565;
    box-shadow: 1px 1px 1px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.form-group a
{
    color: black;
}

html, body {
    height: 100%;

}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;

}

#footer .container {
    max-width: 700px;
    padding-top: 10px;

}

.container .credit {
    font-size: 0.9em;
    height: 100%;

}

.mesreservations {
    margin-left: 10%;
    margin-right: 10%;
}

.modal-header {
    padding-top: 40px;
}
/* Romain */

.form-inline {

    border: 1px solid #B6BED6;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #B6BED6;
    border-radius: 1px 1px 4px 4px;
    -moz-box-shadow: 1px 1px 1px 0px #656565;
    -webkit-box-shadow: 1px 1px 1px 0px #656565;
    -o-box-shadow: 1px 1px 1px 0px #656565;
    box-shadow: 1px 1px 1px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

/* Philippe */

